<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Customer\CustomerData\SectionPool">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="custom_name" xsi:type="string">Magento360\CustomeName\CustomerData\Customer</item>
            </argument>
        </arguments>
	</type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="checkout_Extrafee_block" xsi:type="object">Magento360\CustomeName\Model\CustomConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
