<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magento360" translate="label" sortOrder="200">
            <label>Magento 360</label>
        </tab>
        <section id="magento360" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Magento 360</label>
            <tab>magento360</tab>
            <!--<resource>Magento_Catalog::config_catalog</resource>-->
            <group id="price" translate="label" type="text" sortOrder="100" showInDefault="1">
                <label>Price</label>
                <field id="scope" translate="label comment" type="select" sortOrder="1" showInDefault="1">
                    <label>Catalog Price Scope</label>
                    <comment><![CDATA[This defines the base currency scope ("Currency Setup" > "Currency Options" > "Base Currency").]]></comment>
                    <backend_model>Magento\Catalog\Model\Indexer\Product\Price\System\Config\PriceScope</backend_model>
                    <source_model>Magento\Catalog\Model\Config\Source\Price\Scope</source_model>
                    <hide_in_single_store_mode>1</hide_in_single_store_mode>
                </field>
            </group>
            <group id="custom_options" translate="label" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Date & Time Custom Options]]></label>
                <field id="use_calendar" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use JavaScript Calendar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="date_fields_order" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Date Fields Order</label>
                    <frontend_model>Magento\Catalog\Block\Adminhtml\Form\Renderer\Config\DateFieldsOrder</frontend_model>
                </field>
                <field id="time_format" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Time Format</label>
                    <source_model>Magento\Catalog\Model\Config\Source\TimeFormat</source_model>
                </field>
                <field id="year_range" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Year Range</label>
                    <validate>validate-digits validate-zero-or-greater validate-number-range number-range-1000-9999</validate>
                    <comment>Please use a four-digit year format.</comment>
                    <frontend_model>Magento\Catalog\Block\Adminhtml\Form\Renderer\Config\YearRange</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
